<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="ml-3 text-left">

                        <button type="submit" class="btn btn-success" routerLink="/rotinas/rotina-form/{{id}}" [queryParams]="{id: id}"
                    ><i class="material-icons">add</i> Nova Rotina
                    </button>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Rotinas de treino - Aluno: {{id}}</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <th>
                                ID
                            </th>
                            <th>
                                Nome Rotina
                            </th>
                            <th>
                                Início
                            </th>
                            <th>
                                Vencimento
                            </th>
                            <th>
                                Objetivo
                            </th>
                            <th>
                                Dificuldade
                            </th>
                            <th>
                                Observações
                            </th>
                            <th>
                                Ações
                            </th>


                            </thead>
                            <tbody>
                            <tr *ngFor="let rotina of rotinas">
                                <td>
                                    {{rotina.id}}
                                </td>
                                <td>
                                    {{rotina.nome}}
                                </td>
                                <td>
                                    {{rotina.dataInicio | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{rotina.dataTermino | date: 'dd/MM/yyyy'}}
                                </td>
                                <td>
                                    {{this.objetivos[rotina.objetivo]}}
                                </td>
                                <td>
                                    {{this.dificuldade[rotina.dificuldade]}}
                                </td>
                                <td>
                                    {{rotina.observacoes}}
                                </td>

                                <td>

                                    <i routerLink="/lista-fichas/{{rotina.id}}" class="material-icons mr-2"
                                       style="color:black; cursor: pointer" matTooltip="Abrir fichas">folder_open</i>

                                    <i [routerLink]="['/rotinas/rotina-form/{{id}}']" [queryParams]="{id: id, idRotina: rotina.id}" class="material-icons mr-2"
                                    style="color:black; cursor: pointer" matTooltip="Editar">edit</i>

                                    <i data-toggle="modal" data-target="#modalDeletarRotina"
                                       class="material-icons" (click)="preparaDelecao(rotina)"
                                    style="color:red; cursor: pointer" matTooltip="Deletar">delete</i>


                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeletarRotina" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>

                </div>
                <div class="modal-body" *ngIf="rotinaSelecionada">
                    Desejar mesmo deletar <b>{{rotinaSelecionada.nome}}</b>?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger mr-2" (click)="deletarRotina()" data-dismiss="modal" type="button">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>

