<div class="main-content">
    <div class="form-group col-md-6 mx-auto">
        <div class="col-mx-auto">
            <div class="card">
                <div class="card-header card-header-danger">
                    <!--                    <h4 class="card-title">{{ fichas.id ? 'Editar' : 'Cadastrar' }} aluno</h4>-->
                    <h4 class="card-title">Criar plano de treino</h4>
                </div>
                <div class="card-body">
                    <form role="form" action="index" method="POST"  accept-charset="ISO-8859-1">
<!--                        <input type="hidden" name="acao" value="treinodarotina">-->
<!--                        <input type="hidden" name="tipo" value="1">-->
<!--                        <input type="hidden" name="idRotina" value="3281459">-->
<!--                        <input type="hidden" name="al" value="1306895">-->
<!--                        <input type="hidden" name="idTreino" value="">-->
                        <div class="form-group">


                            <label class="form-control-label">Treino:</label>
                            <input type="number" class="form-control" name="dia_tipo"  value="" maxlength="2" required>

                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Nome:</label>
                            <input type="text" name="nome" maxlength="40" class="form-control" value="" placeholder="Hipertrofia" required>
                        </div>

<!--                        <div class="form-group">-->
<!--                            <label class="form-control-label">Copiar de:</label>-->
<!--                            <select name="treinoCopiar" class="form-control">-->
<!--                                <option value="0" selected >Não copiar</option>-->

<!--                                <option value="10919331" >-->


<!--                                    Treino 2-->

<!--                                </option>-->

<!--                                <option value="10922532" >-->


<!--                                    Treino 2-->

<!--                                </option>-->

<!--                            </select>-->
<!--                        </div>-->

                        <div class="form-group">
                            <label class="form-control-label">Obs/Instruções: <small>(Opcional)</small>:</label>
                            <textarea class="form-control" name="obs" style="max-width: 100%; min-height:100px" placeholder="Observações ou instruções para o seu aluno"></textarea>
                        </div>
                        <button class="btn btn-default btn-block sendBtn" type="submit">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
