<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="ml-3 text-left">
<!--                    <button type="submit" class="btn btn-success" (click)="openDialog();"-->
<!--                    ><i class="fa fa-plus"></i> Novo-->
<!--                    </button>-->

                    <button type="submit" class="btn btn-success" routerLink="/clientes-form"
                    ><i class="material-icons">add</i> Novo Aluno
                    </button>
                </div>
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de clientes cadastrados</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                            <th>
                                Código Aluno
                            </th>
                            <th>
                                Nome
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                WhatsApp
                            </th>
                            <th>
                                Ações
                            </th>


                            </thead>
                            <tbody>
                            <tr *ngFor="let aluno of alunos">
                                <td>
                                    {{aluno.id}}
                                </td>
                                <td>
                                    {{aluno.nome}} {{aluno.sobrenome}}
                                </td>
                                <td>
                                    {{aluno.email}}
                                </td>
                                <td>
                                    {{aluno.celular | mask: '(00) 00000-0000'}}
                                </td>
                                <td>
                                    <i routerLink="/rotinas/{{aluno.id}}" class="material-icons mr-2"
                                       style="color:black; cursor: pointer" matTooltip="Abrir rotinas">folder_open</i>

                                    <i routerLink="/clientes-form/{{aluno.id}}" class="material-icons  mr-2"
                                    style="color:black; cursor: pointer" matTooltip="Editar">edit</i>
                                    <!--                                    <i (click)="editDialog(cliente.id)"  class="fa fa-solid fa-edit" style="color:black; cursor: pointer"></i>-->
                                    <i data-toggle="modal" data-target="#modalDeletarCliente"
                                       class="material-icons" (click)="preparaDelecao(aluno)"
                                    style="color:red; cursor: pointer" matTooltip="Deletar">delete</i>


<!--                                    <a href="https://api.whatsapp.com/send?phone=55{{cliente.celular}}" target="_blank" class="fa fa-whatsapp fa-lg" style="color:darkgreen"></a>-->
<!--                                    <i routerLink="https://api.whatsapp.com/send?phone=55{{cliente.celular}}&text=&target=blank" class="material-icons"-->
<!--                                       style="color:black; cursor: pointer">chat</i>-->

<!--                                    <a href="https://api.whatsapp.com/send?phone=55{{cliente.celular}}" target="_blank" class="fa fa-whatsapp fa-lg" style="color:darkgreen"></a>-->

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="modalDeletarCliente" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                <div class="modal-body" *ngIf="alunoSelecionado">
                    Desejar mesmo deletar <b>{{alunoSelecionado.nome}}</b>?<br>
                    Essa ação acarretará na deleção de todos os dados e treinos do usuário.
                </div>

                <div class="modal-footer">
                    <button class="btn btn-danger mr-2" (click)="deletarCliente()" data-dismiss="modal" type="button">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

</div>

